################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/SimpleWeb.NET
/packages
/WebEngine/bin
/WebEngine/obj
/WebEngine.Database/obj/Debug
/WebEngine.Database/WebEngine.Database.jfm
/WebEngine.Database/WebEngine.Database.dbmdl
/WebEngine.Database/bin/Debug
/Publish
/WEC/bin/Debug
/WEC/obj/Debug
